<!doctype html>
<html>
<head>
    <title>Create</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <body class="single is-preload">

    <!-- Wrapper -->
      <div id="wrapper">

        <!-- Header -->
          <header id="header">
            <h1><a href="index.html">Debate</a></h1>
            <nav class="links">
              <ul>
                <li><a href="index.ejs">Home</a></li>
                <li><a href="/explore">Explore</a></li>
                <li><a href="create.ejs" type="submit" >Create</a></li>
                <li><a href="/profile">Profile</a></li>
                <!-- <li><a href="#">Tempus</a></li>
                <li><a href="#">Adipiscing</a></li> -->
              </ul>
            </nav>
            <nav class="main">
              <ul>
                <li class="search">
                  <a class="fa-search" href="#search">Search</a>
                  <form id="search" method="get" action="#">
                    <input type="text" name="query" placeholder="Search" />
                  </form>
                </li>
                <li class="menu">
                  <a class="fa-bars" href="#menu">Menu</a>
                </li>
              </ul>
            </nav>
          </header>

        <!-- Menu -->
          <section id="menu">

            <!-- Search -->
              <section>
                <form class="search" method="get" action="#">
                  <input type="text" name="query" placeholder="Search" />
                </form>
              </section>

            <!-- Links -->
              <section>
                <ul class="links">
                  <li>
                    <a href="/">
                      <h3>Home</h3>
                      <p>Feugiat tempus veroeros dolor</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <h3>Explore</h3>
                      <p>Sed vitae justo condimentum</p>
                    </a>
                  </li>
                  <li>
                    <a href="/create">
                      <h3>Create</h3>
                      <p>Phasellus sed ultricies mi congue</p>
                    </a>
                  </li>
                  <li>
                    <a href="/">
                      <h3>SIGNUP</h3>
                      <p>Porta lectus amet ultricies</p>
                    </a>
                  </li>
                </ul>
              </section>

            <!-- Actions -->
              <section>
                <ul class="actions stacked">
                  <li><a href="#" class="button large fit">Log In</a></li>
                </ul>
              </section>

          </section>

        <!-- Main -->
          <div id="main">

            <!-- Post -->
              <article class="post">
                <header>
                  <div class="title">
                    <h2><a href="#">Demo Day Project</a></h2>
                    <p>Create A New Discussion</p>
                  </div>
                  <!-- <div class="meta">
                    <time class="published" datetime="2015-11-01">November 1, 2015</time>
                    <a href="#" class="author"><span class="name">Jane Doe</span><img src="images/avatar.jpg" alt="" /></a>
                  </div> -->
                </header>
                <span class="image featured"><img src="images/pic01.jpg" alt="" /></span>
                <div class="container">

                    <div class="page-header text-center">
                        <h1><span class="fa fa-anchor"></span> Create Page</h1>
                        <a href="/profile" class="btn btn-default btn-sm">Back to Profile</a>
                        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
                    </div>

                    <div class="row">


                        <div class="col-sm-6">
                          <h3>Create Debate Statment</h3>
                          <!-- <ul class="messages">
                          <% for(var i=0; i<messages.length; i++) {%>
                            <li class="message">
                              <span><%= user.local.email %></span>
                              <span><%= messages[i].tag %></span>
                              <span><%= messages[i].dicuss %></span>
                              <span><%= messages[i].background %></span>
                              <span class="hide"><%= messages[i].thumbUp %></span>
                              <span class="hide"><%= messages[i].thumbDown%></span>
                              <span><%= (messages[i].thumbUp - messages[i].thumbDown)%></span>
                              <span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
                              <span><i class="fa fa-thumbs-down" aria-hidden="true"></i></span>
                              <span><i class="fa fa-trash" aria-hidden="true"></i></span>
                            </li>
                          <% } %>
                          </ul> -->

                          <h2>Enter discussion details</h2>

                          <form action="/create" method="POST">
                            <input class="form-control" type="text" placeholder="Tag"value="" name="tag">
                            <input class="form-control" placeholder="Provide a bried title describing your thesis" type="text" name="dicuss" value="">
                            <input class="form-control" placeholder="Add information revelant to your discussion" type="text" name="background" value="">
                            <button type="submit">Submit</button>
                          </form>
                        </div>

                </div>

                <!-- <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
                <p>Nunc quis dui scelerisque, scelerisque urna ut, dapibus orci. Sed vitae condimentum lectus, ut imperdiet quam. Maecenas in justo ut nulla aliquam sodales vel at ligula. Sed blandit diam odio, sed fringilla lectus molestie sit amet. Praesent eu tortor viverra lorem mattis pulvinar feugiat in turpis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce ullamcorper tellus sit amet mattis dignissim. Phasellus ut metus ligula. Curabitur nec leo turpis. Ut gravida purus quis erat pretium, sed pellentesque massa elementum. Fusce vestibulum porta augue, at mattis justo. Integer sed sapien fringilla, dapibus risus id, faucibus ante. Pellentesque mattis nunc sit amet tortor pellentesque, non placerat neque viverra. </p> -->
                <footer>

                </footer>
              </article>

          </div>

        <!-- Footer -->
          <section id="footer">
            <ul class="icons">
              <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
              <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
              <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
              <li><a href="#" class="icon solid fa-rss"><span class="label">RSS</span></a></li>
              <li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
            </ul>
            <p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a href="http://unsplash.com">Unsplash</a>.</p>
          </section>

      </div>

    <!-- Scripts -->
      <script src="assets/js/jquery.min.js"></script>
      <script src="assets/js/browser.min.js"></script>
      <script src="assets/js/breakpoints.min.js"></script>
      <script src="assets/js/util.js"></script>
      <script src="assets/js/main.js"></script>

  </body>
</body>
</html>
