<!doctype html>
<html>
<head>
    <title>Home</title>
    <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/main.css"/>
    <link rel="stylesheet" href="/assets/css/style.css"/>


</head>
<body class="is-preload">
<div class="container">


  		<!-- Wrapper -->
  			<div id="wrapper">

  				<!-- Header -->
  					<header id="header">
  						<h1><a href="/">GroupThought</a></h1>
  						<nav class="links">
  							<ul>
                  <li><a href="/">Home</a></li>
  								<li><a href="/explore">Explore</a></li>
  								<li><a href="/login">Create</a></li>
  							</ul>
  						</nav>
  						<nav class="main">
  							<ul>

  								<li class="menu">
  									<a class="fa-bars" href="#menu">Menu</a>
  								</li>
  							</ul>
  						</nav>
  					</header>

  				<!-- Menu -->
  					<section id="menu">

  						<!-- Search -->


  						<!-- Links -->
  							<section>
  								<ul class="links">
  									<li>
  										<a href="/">
  											<h3>Home</h3>
  										</a>
  									</li>
  									<li>
  										<a href="/explore">
  											<h3>Explore</h3>
                      </a>
  									</li>
  									<li>
  										<a href="/create">
  											<h3>Create</h3>
  										</a>
  									</li>
                    <li>
  										<a href="/profile">
  											<h3>Profile</h3>
  										</a>
  									</li>
  									<li>
  										<a href="/signup">
  											<h3>Sign Up</h3>
  										</a>
  									</li>
  								</ul>
  							</section>

  						<!-- Actions -->
  							<section>
  								<ul class="actions stacked">
  									<li><a href="/login" class="button large fit">Log In</a></li>
  								</ul>
  							</section>

  					</section>

  				<!-- Main this is where i want the most popular post to show up -->
  					<div class="popularPosts" id="main">
              <!-- This line is interchangeable -->
              <ul class="nav nav-tabs" id="nav">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/account">Account</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/follow/<%= user._id %>">Following</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/profile">Activity</a>
                </li>
              </ul>
              <h2><strong>Following:</strong> List of Posts</h2>
  						<!-- Post -->

                  <ul class="hideList">
                  <% for(var i=0; i<messages.length; i++) {%>
                  <li>
                  <article class="post">
                  <header>
  									<div class="title">
  										<h2 class="dicuss"><a href="#"><strong>Title:</strong></a><%= messages[i].dicuss %></h2>
  									</div>
  									<div class="meta">
                      <span class="published">Time:<strong><%= helpers.getDate(messages[i].timestamp) %></strong></span>
                      <a href="#" class="author"><span class="name"><strong>Name: </strong><%= messages[i].userName %></span></a>
  									</div>
  								</header>
                  <a href="#" class="image featured"><img src="<%= messages[i].img %>" alt="pic" /></a>
  								<p><strong>Background:</strong><%= messages[i].background %></p>
  								<footer>
  									<ul class="actions">
  										<li><a href="/stage/<%=messages[i]._id %>" class="button large">Enter</a></li>
  									</ul>
  									<ul class="stats">
  										<li><a href="#"><strong>Topic Tag: </strong></a><%= messages[i].tag %></li>
  										<li><a href="#" class="icon solid fa-heart"><strong># Of Likes: </strong></a><%= messages[i].thumbUp %></li>
  										<li><a href="#" class="icon solid fa-comment"><strong># Of Comments</strong></a></li>
                      <!-- <li><a href="#" class="icon solid fa-comment"><strong># Of Views</strong></a></li> -->
  									</ul>
  								</footer>
                  </article>
                  </li>
                  <% } %>
                  </ul>

  					</div>
  			</div>

</div>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/browser.min.js"></script>
<script src="/assets/js/breakpoints.min.js"></script>
<script src="/assets/js/util.js"></script>
<script src="/assets/js/main.js"></script>

</body>
</html>
