<!doctype html>
<html>

<head>
  <title>Home</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="assets/css/main.css" />
  <link rel="stylesheet" href="assets/css/style.css" />
  <link rel="stylesheet" href="style.css" />
</head>

<body class="is-preload">
  <div class="container">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Header -->
      <header id="header">
        <h1><a href="/">GroupThought</a></h1>
        <nav class="links">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/explore">Explore</a></li>
            <li><a href="/create">Create</a></li>
          </ul>
        </nav>
        <nav class="main">
          <ul>
            <li class="menu">
              <a class="fa-bars" href="#menu">Menu</a>
            </li>
          </ul>
        </nav>
      </header>

      <!-- Menu -->
      <section id="menu">
        <!-- Links -->
        <section>
          <ul class="links">
            <li>
              <a href="/">
                <h3>Home</h3>
              </a>
            </li>
            <li>
              <a href="/explore">
                <h3>Explore</h3>
              </a>
            </li>
            <li>
              <a href="/create">
                <h3>Create</h3>
              </a>
            </li>
            <li>
              <a href="/profile">
                <h3>Profile</h3>
              </a>
            </li>
            <li>
              <a href="/signup">
                <h3>SignUp</h3>
              </a>
            </li>
          </ul>
        </section>

        <!-- Actions -->
        <section>
          <ul class="actions stacked">
            <li><a href="/login" class="button large fit">Log In</a></li>
          </ul>
        </section>
      </section>
      <!-- Main this is where i want the most popular post to show up -->
      <div class="popularPosts" id="main">
        <h2>Popular Posts</h2>
        <!-- Post -->
        <% for(var i=0; i<postsByLikes.length; i++) {%>
        <ul class="hideList">
          <li>
            <article class="post">
              <header>
                <div class="title">
                  <h2 id="h"><a href="#"><strong>Title: </strong></a><%= postsByLikes[i].dicuss %></h2>
                </div>
                <div class="meta">
                  <time class="published" datetime=""><strong>Time: </strong><%=  helpers.getDate(postsByLikes[i].timestamp) %></time>
                  <a href="#" class="author"><span class="name"><strong>Name: </strong><%= postsByLikes[i].userName %></span></a>
                </div>
              </header>
              <a href="#" class="image featured"><img src="<%= postsByLikes[i].img %>" alt="pic07.jpg" /></a>
              <p><strong>Background: </strong><%= postsByLikes[i].background %></p>
              <span id="postid" class="hid"><%=postsByLikes[i]._id %></span>
              <footer>
                <ul class="actions">
                  <li><a href="/stage/<%=postsByLikes[i]._id %>" class="button large">Enter</a></li>
                </ul>
                <ul class="stats">
                  <li><a href="#"><strong>Topic Tag: </strong><%= postsByLikes[i].tag %></a></li>
                  <li><a href="#" class="icon solid fa-heart"><strong># Of Likes: </strong><%= postsByLikes[i].thumbUp %></a></li>
                  <li><a href="#" class="icon solid fa-comment"><strong># Of Comments</strong> 4</a></li>
                  <li>
                    <form class="hid" action="javascript:void(0)" method="put">
                      <button data-userId="<%= user._id %>" class="followBtn" type="submit"><strong>Follow Debate</strong></button>
                    </form>
                  </li>
                </ul>
              </footer>
            </article>
          </li>
        </ul>
        <% } %>
      </div>
      <!-- Sidebar -->
      <section id="sidebar">
        <!-- Intro -->
        <section id="intro">
          <a href="#" class="logo"><img src="images/logo.jpg" alt="" /></a>
          <header>
            <h2>GroupThought</h2>
            <p>GroupThought is designed to facilitate constructive discussion about the most important issues in the world.</p>
          </header>
        </section>
        <!-- LIST OF TOP 4 RECENT POSTS -->
        <section class="recentPost">
          <h2>Recent Posts</h2>
          <div class="mini-posts">
            <% for(var i=0; i<messages.length && i < 5; i++) {%>
            <ol class="hideList">
              <li>
                <article class="mini-post">
                  <header>
                    <h3 id="h"><a href="/stage/<%=messages[i]._id %>"><strong>Title:</strong><%= messages[i].dicuss %></a></h3>
                    <time class="published" datetime="2015-10-20"><strong>Time:</strong><%= helpers.getDate(messages[i].timestamp) %></time>
                    <span><a href="#"><strong>Name: </strong><%= messages[i].userName %></a></span>
                  </header>
                  <a href="#" class="image"><img src="<%= messages[i].img %>" alt="/images/pic08.jpg" /></a>
                </article>
              </li>
            </ol>
            <% } %>
            <!-- About -->
            <section class="blurb">
              <h2>About</h2>
              <p>A tool to engage in thoughtful discussion, understand different points of view, and help with collaborative decision-making.
                Where users will be able to see and provide thorough and thoughtful arguments that support and do not support the topic at hand.
              </p>
            </section>
        </section>
    </div>
  </div>
  </div>
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/browser.min.js"></script>
  <script src="assets/js/breakpoints.min.js"></script>
  <script src="assets/js/util.js"></script>
  <script src="assets/js/main.js"></script>
  <script src="/follow.js"></script>
</body>
</html>
