<!doctype html>
<html>
<head>
    <title>Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/main.css"/>
</head>
<body class="single is-preload">

  <!-- Wrapper -->
    <div id="wrapper">

      <!-- Header -->
        <header id="header">
          <h1><a href="index.html">Debate</a></h1>
          <nav class="links">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/explore">Explore</a></li>
              <li><a href="/create">Create</a></li>
              <!-- <li><a href="#">Tempus</a></li>
              <li><a href="#">Adipiscing</a></li> -->
            </ul>
          </nav>
          <nav class="main">
            <ul>
              <li class="search">
                <a class="fa-search" href="#search">Search</a>
                <form id="search" method="get" action="#">
                  <input type="text" name="query" placeholder="Search" />
                </form>
              </li>
              <li class="menu">
                <a class="fa-bars" href="#menu">Menu</a>
              </li>
            </ul>
          </nav>
        </header>

      <!-- Menu -->
        <section id="menu">

          <!-- Search -->
            <section>
              <form class="search" method="get" action="#">
                <input type="text" name="query" placeholder="Search" />
              </form>
            </section>

          <!-- Links -->
            <section>
              <ul class="links">
                <li>
                  <a href="/">
                    <h3>Home</h3>
                  </a>
                </li>
                <li>
                  <a href="/explore">
                    <h3>Explore</h3>
                  </a>
                </li>
                <li>
                  <a href="/create">
                    <h3>Create</h3>
                  </a>
                </li>
                <li>
                  <a href="/signup">
                    <h3>SIGNUP</h3>
                  </a>
                </li>
              </ul>
            </section>

          <!-- Actions -->
            <section>
              <ul class="actions stacked">
                <li><a href="/login" class="button large fit">Log In</a></li>
              </ul>
            </section>

        </section>

      <!-- Main -->
        <div id="main">

          <!-- Post -->
            <article class="post">
              <header>
                <div class="title">
                  <h2><a href="/profile">Profile Page</a></h2>
                  <a href="/logout" class="btn btn-default btn-sm">Logout</a>
                </div>
              </header>
                <ul class="nav nav-tabs">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/topic">Responded</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/topic">Following</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/topic">Recently Viewed</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/topic">Recommended</a>
                  </li>
                </ul>

              <div class="container">
                  <div class="row">
                      <!-- LOCAL INFORMATION -->
                      <div class="col-sm-6">
                          <div class="well">
                              <h3><span class="fa fa-user"></span> Local</h3>

                              <% if (user.local.email) { %>
                                  <p>
                                      <strong>id</strong>: <%= user._id %><br>
                                      <strong>email</strong>: <%= user.local.email %><br>
                                      <strong>password</strong>: <%= user.local.password %>
                                  </p>

                                  <a href="/unlink/local" class="btn btn-default">Unlink</a>
                              <% } else { %>
                                  <a href="/connect/local" class="btn btn-default">Connect Local</a>
                              <% } %>

                          </div>
                      </div>
                      <div class="col-sm-6">
                        <h3>Activity</h3>
                        <ul class="messages">
                          <h2>Created Discussions</h2>
                        <% for(var i=0; i<messages.length; i++) {%>
                          <li class="message">
                            <span><%= user.local.email %></span>
                            <span><%= messages[i].tag %></span>
                            <span><%= messages[i].dicuss %></span>
                            <span><%= messages[i].background %></span>
                            <span><%= messages[i].msg %></span>
                            <span class="hide"><%= messages[i].thumbUp %></span>
                            <span class="hide"><%= messages[i].thumbDown%></span>
                            <span><%= (messages[i].thumbUp - messages[i].thumbDown)%></span>
                            <span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
                            <span><i class="fa fa-thumbs-down" aria-hidden="true"></i></span>
                            <span><i class="fa fa-trash" aria-hidden="true"></i></span>
                          </li>
                        <% } %>
                        </ul>
                        <ul class="comments">
                          <h2>Created Comments</h2>
                        <% for(var i=0; i<comments.length; i++) {%>
                          <li class="comments">
                            <span><%= comments[i].msg %></span>
                            <span class="hide"><%= comments[i].side %></span>
                            <span class="hide"><%= comments[i].thumbUp %></span>
                            <span class="hide"><%= comments[i].thumbDown%></span>
                            <span><%= (comments[i].thumbUp - comments[i].thumbDown)%></span>
                            <span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
                            <span><i class="fa fa-thumbs-down" aria-hidden="true"></i></span>
                          </li>
                        <% } %>
                        </ul>
                      </div>
                    </div>
                    <div class="row">
                        <!-- LOCAL INFORMATION -->
                        <div class="col-sm-6 well">
                              <h3><a href="/topic">List Of Recommended Posts</a></h3>
                              <article class="mini-post">
          											<header>
          												<h3><a href="#"><strong>Title:</strong></a></h3>
          												<time class="published" datetime="2015-10-20"><strong>Time:</strong></time>
          												<a href="#" class="author"><strong>Author:</strong><img src="images/avatar.jpg" alt="" /></a>
          											</header>
          											<a href="#" class="image"><strong>Img:</strong><img src="images/pic04.jpg" alt="" /></a>
          										</article>
                            </div>
                        <div class="col-sm-6 well">
                          <h3><a href="/topic">List Of Recently Viewed Posts</a></h3>
                          <article class="mini-post">
      											<header>
      												<h3><a href="#"><strong>Title:</strong></a></h3>
      												<time class="published" datetime="2015-10-20"><strong>Time:</strong></time>
      												<a href="#" class="author"><strong>Author:</strong><img src="images/avatar.jpg" alt="" /></a>
      											</header>
      											<a href="#" class="image"><strong>Img:</strong><img src="images/pic04.jpg" alt="" /></a>
      										</article>
                        </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-6 well">
                                <h3><a href="/topic">List Of Follwer's Posts</a></h3>
                                <article class="mini-post">
            											<header>
            												<h3><a href="#"><strong>Title:</strong></a></h3>
            												<time class="published" datetime="2015-10-20"><strong>Time:</strong></time>
            												<a href="#" class="author"><strong>Author:</strong><img src="images/avatar.jpg" alt="" /></a>
            											</header>
            											<a href="#" class="image"><strong>Img:</strong><img src="images/pic04.jpg" alt="" /></a>
            										</article>
                              </div>
                          <div class="col-sm-6 well">
                            <h3><a href="/topic">List Of Discussions you added too</a></h3>
                            <article class="mini-post">
        											<header>
        												<h3><a href="#"><strong>Title:</strong></a></h3>
        												<time class="published" datetime="2015-10-20"><strong>Time:</strong></time>
        												<a href="#" class="author"><strong>Author:</strong><img src="images/avatar.jpg" alt="" /></a>
        											</header>
        											<a href="#" class="image"><strong>Img:</strong><img src="images/pic04.jpg" alt="" /></a>
        										</article>
                          </div>
                        </div>
                  </article>
                </div>

      <!-- Footer -->
        <section id="footer">
          <ul class="icons">
            <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon solid fa-rss"><span class="label">RSS</span></a></li>
            <li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
          </ul>
        </section>

    </div>

  <!-- Scripts -->
  	<script src="main.js"></script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>

</body>
</html>
