<!doctype html>
<html>

<head>
  <title>Profile</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="/font-awesome.min.css">
  <link rel="stylesheet" href="/assets/css/main.css" />
  <link rel="stylesheet" href="/assets/css/style.css" />

</head>

<body class="single is-preload">

  <!-- Wrapper -->
  <div id="wrapper">

    <!-- Header -->
    <header id="header">
      <h1><a href="/">GroupThought</a></h1>
      <nav class="links">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/explore">Explore</a></li>
          <li><a href="/create">Create</a></li>
        </ul>
      </nav>
      <nav class="main">
        <ul>

          <li class="menu">
            <a class="fa-bars" href="#menu">Menu</a>
          </li>
        </ul>
      </nav>
    </header>

    <!-- Menu -->
    <section id="menu">

      <!-- Search -->
      <!-- Links -->
      <section>
        <ul class="links">
          <li>
            <a href="/">
              <h3>Home</h3>
            </a>
          </li>
          <li>
            <a href="/explore">
              <h3>Explore</h3>
            </a>
          </li>
          <li>
            <a href="/create">
              <h3>Create</h3>
            </a>
          </li>
          <li>
            <a href="/profile">
              <h3>Profile</h3>
            </a>
          </li>
          <li>
            <a href="/signup">
              <h3>Sign Up</h3>
            </a>
          </li>
        </ul>
      </section>

      <!-- Actions -->
      <section>
        <ul class="actions stacked">
          <li><a href="/login" class="button large fit">Log In</a></li>
        </ul>
      </section>

    </section>

    <!-- Main -->
    <div id="main">

      <!-- Post -->
      <article id="stageCon" class="post">
        <header id="headHeader">
          <div id="headers" class="title">
            <h1 id="hone">Stage Page</h1>
            <a href="/profile" class="btnStage btn btn-default btn-sm">Back to Profile</a>
          </div>
        </header>
        <div class="container">
          <div id="pageHeader" class="page-header text-center">
            <h3 id="hthree">Discussion Statement</h3>
            <div id="postBox">
              <h3 id="discussion"><%= message.dicuss %></h3>
              <p class="infoStage"><strong>Background: </strong><%= message.background %></p>
              <p class="postIdStage hid"><span><%= message._id %></span></p>
              <span class="userStage"><strong>Name: </strong><%= message.userName %></span>
              <span class="tagStage"><strong>Topic Tag: </strong><%= message.tag %></span>
              <span class="time name"><strong>Time: </strong><%= helpers.getDate(message.timestamp) %></span>
              <span id="span1"><i class="fa fa-thumbs-up stageT" aria-hidden="true"></i></span>
              <span id="span1" class="thumbStage"><%= message.thumbUp %></span>
              <a href="/comments/<%=message._id %>" class="btn btn-default btn-sm">Add A Comment</a>
            </div>
          </div>

          <!-- LIST OF COMMENTS pROS AND CONS  -->
          <div class="allComments">
            <div class="pro">
              <h2 id="htwo">For</h2>
              <ul class="comments hideList">
                <% for(var i=0; i<comsByLikes.length; i++) {%>
                <% if(comsByLikes[i].side === "Pro") { %>
                <li class="comments box">
                  <article class="mini-post">
                    <header>
                      <h3 id="h"><a href="#" class="msg"><strong>Comment: </strong><%= comsByLikes[i].msg %></a></h3>
                      <h3 id="h"><a href="#" class="author userStage"><strong>Name:</strong><%= comsByLikes[i].userName %></a></h2>
                        <span><a href="#" class="time"><strong>Time: </strong><%= helpers.getDate(comsByLikes[i].timestamp) %></a></span>
                        <span><i class="fa fa-thumbs-up commentThumb" aria-hidden="true"></i></span>
                        <span class="thumbComments"><%= comsByLikes[i].thumbUp %></span>
                        <span class="hide side"><%= comsByLikes[i].side %></span>
                        <span class="comId hide"><span><%= comsByLikes[i]._id %></span></span>
                    </header>
                  </article>
                </li>
                <% }} %>
              </ul>
            </div>
            <div class="con">
              <h2 id="htwo">Against</h2>
              <ul class="comments hideList">
                <% for(var i=0; i<comsByLikes.length; i++) {%>
                <% if(comsByLikes[i].side === "Con") { %>
                <li class="comments box">
                  <article class="mini-post">
                    <header>
                      <h3 id="h"><a href="#" class="msg"><strong>Comment:</strong><%= comsByLikes[i].msg %></a></h3>
                      <h3 id="h"><a href="<%= comsByLikes[i].source %>" class="author userStage"><strong>Name:</strong><%= comsByLikes[i].source %></a></h2>
                        <span><a href="#" class="time"><strong>Time:</strong><%= helpers.getDate(comsByLikes[i].timestamp) %></a></span>
                        <span><i class="fa fa-thumbs-up commentThumb" aria-hidden="true"></i></span>
                        <span><a href="#" class="thumbComments"><%= comsByLikes[i].thumbUp %></a></span>
                        <span class="hide side"><%= comsByLikes[i].side %></span>
                        <span class="comId hide"><span><%= comsByLikes[i]._id %></span></span>
                    </header>
                  </article>
                </li>
                <% }} %>
              </ul>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
  <!-- Scripts -->
  <script src="/stageMain.js"></script>
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/browser.min.js"></script>
  <script src="/assets/js/breakpoints.min.js"></script>
  <script src="/assets/js/util.js"></script>
  <script src="/assets/js/main.js"></script>

</body>

</html>
