<!doctype html>
<html>
<head>
    <title>Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/main.css"/>
    <link rel="stylesheet" href="/assets/css/style.css"/>

</head>
<body class="single is-preload">

  <!-- Wrapper -->
    <div id="wrapper">

      <!-- Header -->
        <header id="header">
          <h1><a href="index.html">Debate</a></h1>
          <nav class="links">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/explore">Explore</a></li>
              <li><a href="/create">Create</a></li>
              <!-- <li><a href="/profile">Profile</a></li> -->
              <!-- <li><a href="/">Adipiscing</a></li> -->
            </ul>
          </nav>
          <nav class="main">
            <ul>
              <li class="search">
                <a class="fa-search" href="#search">Search</a>
                <form id="search" method="get" action="#">
                  <input type="text" name="query" placeholder="Search" />
                </form>
              </li>
              <li class="menu">
                <a class="fa-bars" href="#menu">Menu</a>
              </li>
            </ul>
          </nav>
        </header>

      <!-- Menu -->
        <section id="menu">

          <!-- Search -->
            <section>
              <form class="search" method="get" action="#">
                <input type="text" name="query" placeholder="Search" />
              </form>
            </section>

          <!-- Links -->
            <section>
              <ul class="links">
                <li>
                  <a href="/">
                    <h3>Home</h3>
                    <p>Feugiat tempus veroeros dolor</p>
                  </a>
                </li>
                <li>
                  <a href="/explore">
                    <h3>Explore</h3>
                    <p>Sed vitae justo condimentum</p>
                  </a>
                </li>
                <li>
                  <a href="/create">
                    <h3>Create</h3>
                    <p>Phasellus sed ultricies mi congue</p>
                  </a>
                </li>
                <li>
                  <a href="/profile">
                    <h3>Profile</h3>
                    <p>Porta lectus amet ultricies</p>
                  </a>
                </li>
                <li>
                  <a href="/signup">
                    <h3>Sign Up</h3>
                    <p>Porta lectus amet ultricies</p>
                  </a>
                </li>
              </ul>
            </section>

          <!-- Actions -->
            <section>
              <ul class="actions stacked">
                <li><a href="/login" class="button large fit">Log In</a></li>
              </ul>
            </section>

        </section>

      <!-- Main -->
        <div id="main">

          <!-- Post -->
            <article class="post">
              <header>
                <div id="headers" class="title">
                  <h1><span class="fa fa-heart"></span> Stage Page</h1>
                  <p>Login in to contribute your idea</p>

                  <a href="/profile" class="btn btn-default btn-sm">Profile</a>

                  <a href="/logout" class="btn btn-default btn-sm">Logout</a>
                </div>

              </header>

              <div class="container">

                  <div class="page-header text-center">
                    <h3>Discussion</h3>
                    <div id="postBox">
                      <span class="userStage"><strong>Username:</strong><%= message.userName %></span>
                      <span class="tagStage"><strong>Tag:</strong><%= message.tag %></span>
                      <span class="dicussStage"><strong>Statment:</strong><%= message.dicuss %></span>
                      <span class="infoStage"><strong>Background:</strong><%= message.background %></span>
                      <span class="time name"><strong>Time:</strong><%= helpers.getDate(message.timestamp) %></span>
                      <span class="postIdStage"><strong>ID:</strong><span><%= message._id %></span></span>
                      <span class="thumbStage"><%= message.thumbUp %></span>
                      <span><i class="fa fa-thumbs-up stageT" aria-hidden="true"></i></span>
                    <a href="/comments/<%=message._id %>" class="btn btn-default btn-sm">Add A Comment</a>
                  </div>
                  </div>

                  <!-- LIST OF COMMENTS pROS AND CONS  -->
                  <div class="jerry">


                  <div class="pro">
                    Pro Comments
                    <ul class="comments">
                    <% for(var i=0; i<comsByLikes.length; i++) {%>
                    <% if(comsByLikes[i].side === "Pro") { %>
                      <li class="comments box">
                        <span class="userStage"><strong>Username:</strong><%= comsByLikes[i].userName %></span>
                        <span class="msg"><%= comsByLikes[i].msg %></span>
                        <span class="hide side"><%= comsByLikes[i].side %></span>
                        <span class="comId"><strong>ID:</strong><span><%= comsByLikes[i]._id %></span></span>
                        <span class="time name"><strong>Time:</strong><%= helpers.getDate(comsByLikes[i].timestamp) %></span>
                        <span class="thumbCom"><%= comsByLikes[i].thumbUp %></span>
                        <span><i class="fa fa-thumbs-up commentThumb" aria-hidden="true"></i></span>
                      </li>
                    <% }} %>
                    </ul>
                  </div>
                  <div class="con">
                    Con Comments
                    <ul class="comments">
                    <% for(var i=0; i<comsByLikes.length; i++) {%>
                    <% if(comsByLikes[i].side === "Con") { %>
                      <li class="comments box">
                        <span class="userStage"><strong>Username:</strong><%= comsByLikes[i].userName %></span>
                        <span class="msg"><%= comsByLikes[i].msg %></span>
                        <span class="hide side"><%= comsByLikes[i].side %></span>
                        <span class="comId"><strong>ID:</strong><span><%= comsByLikes[i]._id %></span></span>
                        <span class="time name"><strong>Time:</strong><%= helpers.getDate(comsByLikes[i].timestamp) %></span>
                        <span class="thumbCom"><strong>Likes:</strong><%= comsByLikes[i].thumbUp %></span>
                        <span><i class="fa fa-thumbs-up commentThumb" aria-hidden="true"></i></span>
                      </li>
                    <% }} %>
                    </ul>
                  </div>
                </div>






      </div>

            </article>

        </div>

      <!-- Footer -->
        <section id="footer">
          <ul class="icons">
            <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon solid fa-rss"><span class="label">RSS</span></a></li>
            <li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
          </ul>
          <p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a href="http://unsplash.com">Unsplash</a>.</p>
        </section>

    </div>

  <!-- Scripts -->
  	<script src="/stageMain.js"></script>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/browser.min.js"></script>
    <script src="/assets/js/breakpoints.min.js"></script>
    <script src="/assets/js/util.js"></script>
    <script src="/assets/js/main.js"></script>

</body>
</html>
