<!doctype html>
<html>
<head>
    <title>Home</title>
    <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/main.css"/>
    <link rel="stylesheet" href="/assets/css/style.css"/>


</head>
<body class="is-preload">
<div class="container">


  		<!-- Wrapper -->
  			<div id="wrapper">

  				<!-- Header -->
  					<header id="header">
  						<h1><a href="/">Debate</a></h1>
  						<nav class="links">
  							<ul>
                  <li><a href="/">Home</a></li>
  								<li><a href="/explore">Explore</a></li>
  								<li><a href="/login">Create</a></li>
                  <li><a href="/profile">Profile</a></li>


  							</ul>
  						</nav>
  						<nav class="main">
  							<ul>
  								<li class="search">
  									<a class="fa-search" href="#search">Search</a>
  									<form id="search" method="get" action="#">
  										<input type="text" name="query" placeholder="Search" />
  									</form>
  								</li>
  								<li class="menu">
  									<a class="fa-bars" href="#menu">Menu</a>
  								</li>
  							</ul>
  						</nav>
  					</header>

  				<!-- Menu -->
  					<section id="menu">

  						<!-- Search -->
  							<section>
  								<form class="search" method="get" action="#">
  									<input type="text" name="query" placeholder="Search" />
  								</form>
  							</section>

  						<!-- Links -->
  							<section>
  								<ul class="links">
  									<li>
  										<a href="/">
  											<h3>Home</h3>
  										</a>
  									</li>
  									<li>
  										<a href="/explore">
  											<h3>Explore</h3>
                      </a>
  									</li>
  									<li>
  										<a href="/login">
  											<h3>Create</h3>
  										</a>
  									</li>
  									<li>
  										<a href="/signup">
  											<h3>SIGNUP</h3>
  										</a>
  									</li>
  								</ul>
  							</section>

  						<!-- Actions -->
  							<section>
  								<ul class="actions stacked">
  									<li><a href="/login" class="button large fit">Log In</a></li>
  								</ul>
  							</section>

  					</section>

  				<!-- Main this is where i want the most popular post to show up -->
  					<div class="popularPosts" id="main">
              <!-- This line is interchangeable -->
              <h2><strong>Topic:</strong> List of Posts</h2>
  						<!-- Post -->

                  <ul>
                  <% for(var i=0; i<messages.length; i++) {%>
                  <li>
                  <article class="post">
                  <header>
  									<div class="title">
  										<h2><a href="#"><strong>Title:</strong></a><%= messages[i].dicuss %></h2>
  									</div>
  									<div class="meta">
                      <span class="published">Time:<strong><%= messages[i].timestamp %></strong></span>
  										<span class="author" id="postid"><%= messages[i]._id %></span>
  									</div>
  								</header>
  								<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
  								<p><strong>Background:</strong><%= messages[i].background %></p>
  								<footer>
  									<ul class="actions">
  										<li><a href="/stage/<%=messages[i]._id %>"  class="button large">Enter</a></li>
  									</ul>
  									<ul class="stats">
  										<li><a href="#"><strong>Topic Tag: </strong></a><%= messages[i].tag %></li>
  										<li><a href="#" class="icon solid fa-heart"><strong># Of Likes: </strong></a><%= messages[i].thumbUp %></li>
  										<li><a href="#" class="icon solid fa-comment"><strong># Of Comments</strong></a></li>
                      <li><a href="#" class="icon solid fa-comment"><strong># Of Views</strong></a></li>
                      <li>
                      <form class="" action="javascript:void(0)" method="put">
                      <button data-userId="<%= user._id %>" class="followBtn" type="submit"><strong>Follow Debate</strong></button>
                      </form>
                      </li>
  									</ul>
  								</footer>
                  </article>
                  </li>
                  <% } %>
                  </ul>

  					</div>
  			</div>

</div>
<script src="/main.js"></script>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/browser.min.js"></script>
<script src="/assets/js/breakpoints.min.js"></script>
<script src="/assets/js/util.js"></script>
<script src="/assets/js/main.js"></script>

</body>
</html>
